.global-wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.wrapper-left {
  flex-basis: 30%;
  background-color: lightblue;
  padding: 24px 16px;
}
.wrapper-right {
  flex-basis: 70%;
  padding: 24px 16px;
  position: relative;
}

// .wrapper-left
.about {
  text-align: center;
  &_img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    & img {
      border-radius: 50%;
      border: 2px solid black;
    }
  }
  &_name {
    margin: 32px auto 64px;
    & h2 {
      font-size: 2.5em;
      margin-bottom: 4px;
    }
  }
  &_title {
    margin-bottom: 32px;
  }
  &_text {
    width: 90%;
    margin: 0 auto;
    & p {
    line-height: 2em;
    }
  }
  &_text span {
    background-color: yellow;
    font-weight: bold;
  }
}
.personality {
  &_title {
    text-align: center;
    margin-bottom: 40px;
  }
  &_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    & li {
      flex-basis: 30%;
      margin-bottom: 24px;
    }
  }
}
.skill {
  // width: 80%;
  // margin: 0 auto;
  text-align: center;
  &_level {
    &-item {
      margin-bottom: 16px;
    }
  }
}

.portfolio {
  margin-top: 48px;
  text-align: center;
  & a {
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    background: darkgray;
    transition: 1s;
    border-radius: 8px;
    color: #fff;
    &:hover {
      background: rgb(20, 20, 211);
    }
  }
}

// .wrapper-right
// table.css
// comment.css

.strength {
  margin-top: 40px;
  &_text {
    width: 100%;
    margin: 24px 0;
    padding-left: 16px;
    & h3 {
      font-size: 1.3em;
      margin-bottom: 8px;
      width: 70%;
      padding: 12px 16px;
      background-color: lightyellow
    }
    & p {
      padding-left: 32px;
      width: 65%;
      line-height: 1.5em;
    }
  }
}