<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TIMER</title>
<!-- google font -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Oswald:wght@400;700&display=swap" rel="stylesheet">
<!-- font-awesome -->
<link href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" rel="stylesheet">
<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" href="timer.css">
</head>

<body>
    <div id="app">

        <div
        class="title">
            <h2>制限時間内に思い出せるだけ思い出すゲーム</h2>
            <p v-show="!result">制限時間は1分です</p>
            <a v-show="!result">(パソコンでやることをオススメします)</a>
        </div>

        <div
        v-show="!gamePage"
        v-if="!result"
        class="addThema">
            <h3>何を思い出すかテーマを決めよう</h3>
            <p>↓ここにテーマを入力してしてね↓</p>
            <input v-model="thema" type="text">
            <div class="sample">
                <p>（例）ここから選んでもOKです</p>
                <ul class="sampleList">
                    <li><input v-model="thema" value="今月子どもを褒めたこと" type="radio" name="themaName"><a>今月子どもを褒めたこと</a></li>
                    <li><input v-model="thema" value="最近の嬉しかったこと" type="radio" name="themaName"><a>最近の嬉しかったこと</a></li>
                    <li><input v-model="thema" value="最近大笑いしたこと" type="radio" name="themaName"><a>最近大笑いしたこと</a></li>
                    <li><input v-model="thema" value="いつかやりたいこと" type="radio" name="themaName"><a>いつかやりたいこと</a></li>
                    <li><input v-model="thema" value="今年やり残したこと" type="radio" name="themaName"><a>今年やり残したこと</a></li>
                </ul>
            </div>
            <div
            @click="addedThema"
            class="next">
                <a>
                <i class="fa fa-caret-right"></i>
                次へ</a>
            </div>
        </div>

        <div
        v-show="gamePage"
        v-if="!result"
        class="timerContent">

            <div
            @click="back"
            class="backBtn">
                <button><i class="fas fa-arrow-circle-left"></i>
                戻る</button>
            </div>

            <div id="timer">
                    <div class="setTime">
                        {{ formatTime }}
                    </div>
                    <div class="timerBtn">
                        <p @click="start" v-if="!timerOn">始</p>
                        <p @click="stop" v-if="timerOn">止</p>
                        <p @click="reset" v-if="resetOn">再</p>
                    </div>
            </div>

        </div>

        <div
        v-show="gamePage"
        v-if="!result"
        class="textContent">

            <div class="addText">
                <p>『始』を押してから下の入力欄に箇条書きで入力してね<br>(Enterで入力できます)</p>
                <h3>あなたが選んだテーマ<br><span>『{{ thema }}』</span></h3>

                <form
                @submit.prevent="textAdd"
                >
                <input ref="text" type="text">
                <button type="submit">入力</button>
                </form>

            </div>

            <div class="textList">
                <p>現在全部で　<span>{{ lists.length }}</span>　つです。</p>
                <ol>
                    <p class="listTitle">
                    <i class="far fa-lightbulb"></i>
                    思い出したもの
                    </p>
                    <li
                    v-for="list in lists"
                    class="listItem"
                    >
                    {{ list.text }}
                    </li>
                </ol>
            </div>
        </div>

        <div
        v-if="result"
        class="result_wrapper">

        <h2>RESULT</h2>

            <div class="thema topic">
                <h3>あなたが決めたテーマ</h3>
                <p> {{ thema }}</p>
            </div>

            <div class="selectTime topic">
                <h3>あなたが選んだ制限時間</h3>
                <p>1分</p>
            </div>

            <div class="result topic">
                <h3>あなたの思い出せた数は</h3>
                <p><span>{{ lists.length }}つ</span>でした</p>
            </div>

            <div class="textList topic">
                    <h3 class="listTitle">
                    <i class="far fa-lightbulb"></i>
                    思い出したもの
                    </h3>
                    <li
                    v-for="list in lists"
                    :key="list.id"
                    class="listItem resultListItem"
                    >
                    {{ list.text }}
                    </li>
                    <!-- {{ resultLists }} -->
            </div>

            <div class="replayBtn">
                <a
                @click.prevent="resultReset"
                class="replay"
                >
                <i class="fas fa-undo-alt"></i>
                もう一度やる
                </a>
            </div>
        </div>
    </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="timer.js"></script>
</body>
</html>