#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    }
.time{
    font-size: 80px;
}
li {
    list-style: circle;
}
.sampleList {
    display: flex;
    flex-wrap: wrap;
}
.sampleList li {
    flex-basis: 30%;
}