
// comment

.comment-style {
    position: absolute;
    width: 120px;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
    &_title {
      position: absolute;
      display: inline-block;
      top: -27px;
      left: -3px;
      padding: 0 9px;
      height: 25px;
      line-height: 25px;
      font-size: 17px;
      background: #62c1ce;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
    & p {
      margin: 0;
      padding: 0;
    }
  }

  .comment1 {
    right: 3%;
    top: 20%;
  }

  .comment2 {
    right: 3%;
    top: 40%;
  }

  .comment3 {
    right: 3%;
    top: 65%;
  }