/* common */
.boxSize {
    margin: 80px auto;
}
.tit {
    padding: 40px 0;
    font-size: 3em;
    text-align: center;
}
li {
    list-style: none;
}
body {
    max-width: 1440px;
}
p {
    line-height: 24px;
}