.DS_Store
node_modules
/dist
package.json
package-lock.json
firebase.json
.firebaserc
.firebase
functions/package.lock.json
functions/package.json
public
/src/plugins/firebase.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
