* {
    box-sizing: border-box;
  }
  body{
    max-width: 100%;
  }
  h1 {
    position: relative;
    background: green;
    box-shadow: 0px 0px 0px 5px green;
    border: dashed 2px #fff;
    padding: 0.2em 0.5em;
    color: #fff;
    text-align: center;
  }

  #app {
    max-width: 640px;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
    padding: 16px;
    position: relative;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 32px;
    background-color: lightyellow
  }
  thead th {
    border-bottom: 2px solid darkcyan; /*#d31c4a */
    color: darkcyan;
  }
  th,
  th {
    padding: 0 8px;
    line-height: 40px;
  }
  thead th.id {
    width: 50px;
  }
  thead th.state {
    width: 64px;
  }
  thead th.button {
    width: 40px;
  }
  tbody td.button, tbody td.state {
    text-align: center;
  }
  tbody tr td,
  tbody tr th {
    border-bottom: 1px solid #ccc;
    transition: all 0.4s;
    padding: 8px 0;
  }
  tbody tr.done td,
  tbody tr.done th {
    background: #f8f8f8;
    color: #bbb;
  }
  tbody tr:hover td,
  tbody tr:hover th {
    background: #f4fbff;
  }

  .stateButton{
      border: none;
      line-height: 1.5rem;
      cursor: pointer;
  }

  .deleteButton{
      border: none;
      border-radius: 20px;
      line-height: 1.5rem;
      padding: 0 8px;
      background: darkgray;
      color: #333;
      cursor: pointer;
  }

  .addButton {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: darkcyan;
    color: darkcyan;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
    border-bottom: solid 2px #118e9e;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  }

  .addButton:active{
    border-bottom: solid 2px #00BCD4;
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
  }

  .add-form input{
      width: 200px;
      height: 2rem;
      margin-right: 16px;
  }

  .computedTodos{
    display: block;
    margin: 8px 8px 0 0;
    text-align: right;
  }

  .add-form{
    /* position: absolute; */
    top: -104px;
    right: 40px;
    margin-bottom: 24px;
  }

  .add-form a{
    display: block;
  }